<h1>Students of Hogwarts</h1>

<% for student in @students %>
<p>Full name: <a href="/student/<%= student.id %>"><%= student.full_name %></a></p>
<p>Age: <%= student.age %></p>
<p>House Name: <%= student.house.name %></p>
<img src="<%= student.house.logo %>" alt="House Logo">
<hr />
<%end%>